@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .infoText {
        @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px]
    }

    .chatRow{
        @apply rounded-lg px-5 py-3 text-sm flex items-center
        justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer
        text-gray-300 transition-all duration-200 ease-out
    }
}

.speech-to-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; 
}

.micStart:hover {
    background-color: #e3bfbc;
  }

.button-style {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    background: #9db0b8;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }